<div class="content">
  <header class="header">
    <div class="container-fluid text-center">
      <h1>Редактирование библиотеки</h1>
    </div>
  </header>

  <div class="container-fluid">
    <div class="form-body">
      <%= render 'form', library: @library %>
    </div>
    <span class="link-back"><%= link_to 'К списку библиотек', libraries_path %></span>
  </div>
  <br>
</div>

<footer class="footer text-center">
  <p>Виктория Долгова</p>
  <p><a href="tel:89150580949">8(915)-058-09-49</a></p>
  <p><a href="mailto:vict.dovgova@gmail.com">vict.dolgova@gmail.com</a></p>
</footer>
